<div class="nested-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.association :researcher, label: 'Extensionista', label_method: :nome %>
    </div>
    <div class="col-md-2">
      <br />
      <%= link_to_remove_association "Remover Extensionista", f, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
